$mainbgcolor: #333436;
$textColor: #e8e8e8;
$neonYellow: #faed27;
$sampleColor: #2d728f;
$secSampleColor: #546a7b;
$redCrayola: #ef2d56;
$linen: #f9ebe0;
$mainFont: "Comfortaa", cursive;
$oldFont: "UnifrakturMaguntia", cursive;
$welcomeFont: "Cinzel", serif;
$sourceCode: "Source Code Pro", monospace;

// font-family: 'Bungee Shade', cursive;
// font-family: 'Cinzel', serif;
// font-family: 'Jost', sans-serif;
// font-family: 'Libre Barcode 39 Extended Text', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Space Mono', monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  ::-webkit-scrollbar {
    display: none;
  }

  &::selection {
    background-color: #fff9a2;
  }
}

/*                    Cards.js Styles                    */

.container .card .face.face1 {
  color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 400px;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #faed27;
  transform: translateY(0);
}

.container .card .face.face1 .content1 {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card .face.face1 .content1 img {
  max-width: 200px;
}

.container .card .face.face1 .content1 h3 {
  margin: 20px 0 0;
  padding: 0;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-family: $mainFont;
  font-weight: 900;
  text-align: center;
  font-size: 45px;
}

.container .card:hover .face.face1 .content1 {
  opacity: 1;
}

.container .card .face.face2 {
  position: relative;
  background: #e8e8e8;
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  transform: translateY(-00px);

  @media (max-width: 768px) {
    height: 100px;
    padding: 5px;
  }
}

.container .card .face.face2 .content2 p {
  color: rgb(0, 118, 0);
  margin: 0;
  padding: 0;
  font-family: $sourceCode;
  font-size: 14px;
}
.container .card .face.face2 .content2 .alink {
  margin: 5px 0 0;
  padding: 1rem;
  text-transform: lowercase;
  display: inline-block;
  text-decoration: none;
  font-family: $mainFont;
  font-weight: 700;
  padding: 5px;
  color: #333436;
  border: 1px solid #333436;
  transition: 0.5s;

  &:hover {
    background: #333436;
    color: #e8e8e8;
  }
}

/*                    Icons.js Styles                    */

.nav-link {
  color: #e8e8e8;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $neonYellow;
    transition: 0.2s ease-in-out;
  }
}

.active {
  color: #faed27;
}

/*                    Welcome Banner Styles                    */

.banner-section {
  background-color: $neonYellow;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 70px;
  cursor: none;
}

.banner-section .scroll {
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-section .scroll .text-greetings {
  line-height: 70px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  font-size: 3rem;
  font-weight: 900;
  color: $mainbgcolor;
  animation: animate 25s linear infinite;
  animation-delay: -1s;

  @keyframes animate {
    0% {
      transform: translateX(70%);
    }
    100% {
      transform: translateX(-70%);
    }
  }
}

.banner-section .scroll .text-greetings span {
  -webkit-text-stroke: 0.75px $mainbgcolor;
  -webkit-text-fill-color: transparent;
}
